body{
    background-color: black;
}
.navbar{
    display: flex;
    gap: 10px;
    background-color: #232323;
    color: white;
    margin: 0%;
    padding: 0%;
    margin-top: -9px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -10px;
    margin-left: -10px;
    padding-bottom: -5px;
}
.navbar .imdblogo>a>img{
    height: 35px;
}
.navbar .hamburgermenu p{
    height: 2px;
    width: 15px;
    background-color: white;
    border-radius: 10px;
    margin: 0%;
    margin-bottom: 2px;
}
.navbar .hamburgermenu{
    margin-top: 9px;
    margin-right: 5px;
}
.navbar .menu p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 0%;
    font-weight: 500;
}
.navbar .menu{
    margin: 0%;
    width: 80px;
}
.navbar .hammenu{
    display: flex;
    width: 80px;
    padding: 10px;
    padding-top: 5px;
    padding-right: 5px;
}
.navbar .hammenu:hover{
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
    background-color: gray;
    color: black;
    height: 27px;
}
.searchbar>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 2px;
    color: black;
    width: 35px;
    height: 29px;
    padding-left: 3px;
    padding-top: 3px;
    font-weight: 600;
    margin: 0%;
    margin-top: 4.5px;
}
.searchbar>p:hover{
    cursor: pointer;
    background-color: #dddddd;
}
.searchbar .inputvalue{
    width: 650px;
    height: 27px;
    margin-top: 4px;
}
.searchbar img{
    height: 20px;
    position: relative;
    right: 30px;
    top: 10px;
}
.inputvalue:focus{
    outline-width: 2px;
    font-size: 15px;
}
.searchbar{
    display: flex;
}
.imdbprologo>img{
    height: 20px;
    width: 80px;
}
.imdbprologo{
    margin: 0%;
    margin-top: 10px;
    margin-left: -5px;
}
.columnline>p{
    width: 1px;
    height: 50px;
    background-color: gray;
}
.columnline{
    margin: 0%;
    padding: 0%;
    margin-top: -20px;
    margin-left: 15px;
}
.watchlistlogo>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin: 0%;
    margin-top: 5px;
    padding: 5px;
}
.watchlistlogo:hover{
    cursor: pointer;
}
.watchlistlogo{
    margin-left: 8px;
}
.signin>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 0%;
    margin-top: 5px;
    padding: 5px;
}
.signin{
    margin-left: 10px;
    width: 58px;
}
.signin:hover{
    cursor: pointer;
}
.language>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin: 0%;
    margin-top: 5px;
    padding: 5px;
}
.language:hover{
    cursor: pointer;
}
.language{
    margin-left: 6px;
}
.whattowatch>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 50px;
}
.whattowatch{
    margin-top: 100px;
    margin-left: 20px;
}
.differenttabs li{
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 15px;
    padding: 20px;
    margin: 0%;
}
.differenttabs .watchguide a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 15px;
    padding: 20px;
    margin: 0%;
}
.differenttabs .fanfavorites a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 15px;
    padding: 20px;
    margin: 0%;
}
.differenttabs .toppicks a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 15px;
    padding: 20px;
    margin: 0%;
}
.differenttabs .watchlist a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 15px;
    padding: 20px;
    margin: 0%;
}
.differenttabs{
    padding-left: 0px;
    margin: 0%;
    margin-left: -50px;
}
.differenttabs ul{
    display: flex;
    margin: 0%;
}
.differenttabs li:hover{
    background-color: #232323;
    cursor: pointer;
}
.differenttabs .fanfavorites{
    border-bottom: 3px solid skyblue;
}
.firstrow1 .chhaava .movie{
    height: 300px;
    width: 200px;
}
.firstrow1 .chhaava .rating{
    height: 35px;
    margin-top: 5px;
}
.firstrow1 .chhaava .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.firstrow1 .chhaava .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin: 0%;
}
.firstrow1 .chhaava .title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.firstrow1 .firstmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.firstrow1 .firstmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.firstrow1 .firstmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.firstrow1 .firstmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.firstrow1 .firstmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.firstrow1 .firstmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.secondmovie .onfire .movie{
    height: 300px;
    width: 200px;
}
.secondmovie .onfire .rating{
    height: 35px;
    margin-top: 5px;
}
.secondmovie .onfire .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.secondmovie .onfire .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin: 0%;
}
.secondmovie .onfire .title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.secondmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.secondmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.firstrow1 .secondmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.firstrow1 .secondmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.firstrow1 .secondmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.firstrow1 .secondmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.thirdmovie .vida .movie{
    height: 300px;
    width: 200px;
}
.thirdmovie .vida .rating{
    height: 35px;
    margin-top: 5px;
}
.thirdmovie .vida .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.thirdmovie .vida .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin: 0%;
}
.thirdmovie .vida .title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.firstrow1 .thirdmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.firstrow1 .thirdmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.firstrow1 .thirdmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.firstrow1 .thirdmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.firstrow1 .thirdmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.firstrow1 .thirdmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.fourthmovie .badass .movie{
    height: 300px;
    width: 200px;
}
.fourthmovie .badass .rating{
    height: 35px;
    margin-top: 5px;
}
.fourthmovie .badass .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.fourthmovie .badass .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin: 0%;
}
.fourthmovie .badass .title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fourthmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.fourthmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.firstrow1 .fourthmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.firstrow1 .fourthmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.firstrow1 .fourthmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.firstrow1 .fourthmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.fifthmovie .deva .movie{
    height: 300px;
    width: 200px;
}
.fifthmovie .deva .rating{
    height: 35px;
    margin-top: 5px;
}
.fifthmovie .deva .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.fifthmovie .deva .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin: 0%;
}
.fifthmovie .deva .title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fifthmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.fifthmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.firstrow1 .fifthmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.firstrow1 .fifthmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.firstrow1 .fifthmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.firstrow1 .fifthmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.sixthmovie .family .movie{
    height: 300px;
    width: 200px;
}
.sixthmovie .family .rating{
    height: 35px;
    margin-top: 5px;
}
.sixthmovie .family .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.sixthmovie .family .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin: 0%;
}
.sixthmovie .family .title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.firstrow1 .sixthmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.firstrow1 .sixthmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.firstrow1 .sixthmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.firstrow1 .sixthmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.firstrow1 .sixthmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.firstrow1 .sixthmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.firstrow1{
    display: flex;
    gap: 8px;
    margin-top: 40px;
}
.secondrow2 .firstmovie .thala .movie{
    height: 300px;
    width: 200px;
}
.secondrow2 .firstmovie .thala .rating{
    height: 35px;
    margin-top: 5px;
}
.secondrow2 .firstmovie .thala .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.secondrow2 .firstmovie .thala .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin: 0%;
}
.secondrow2 .firstmovie .thala .title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.secondrow2 .firstmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.secondrow2 .firstmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.secondrow2 .firstmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.secondrow2 .firstmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.secondrow2 .firstmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.secondrow2 .firstmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.secondrow2 .secondmovie .mrs .movie{
    height: 300px;
    width: 200px;
}
.secondrow2 .secondmovie .mrs .rating{
    height: 35px;
    margin-top: 5px;
}
.secondrow2 .secondmovie .mrs .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.secondrow2 .secondmovie .mrs .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin: 0%;
}
.secondrow2 .secondmovie .mrs .title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.secondrow2 .secondmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.secondrow2 .secondmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.secondrow2 .secondmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.secondrow2 .secondmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.secondrow2 .secondmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.secondrow2 .secondmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.secondrow2 .thirdmovie .skyforce .movie{
    height: 300px;
    width: 200px;
}
.secondrow2 .thirdmovie .skyforce .rating{
    height: 35px;
    margin-top: 5px;
}
.secondrow2 .thirdmovie .skyforce .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.secondrow2 .thirdmovie .skyforce .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin: 0%;
}
.secondrow2 .thirdmovie .skyforce .title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.secondrow2 .thirdmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.secondrow2 .thirdmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.secondrow2 .thirdmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.secondrow2 .thirdmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.secondrow2 .thirdmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.secondrow2 .thirdmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.secondrow2 .fourthmovie .marco .movie{
    height: 300px;
    width: 200px;
}
.secondrow2 .fourthmovie .marco .rating{
    height: 35px;
    margin-top: 5px;
}
.secondrow2 .fourthmovie .marco .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.secondrow2 .fourthmovie .marco .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin: 0%;
}
.secondrow2 .fourthmovie .marco .title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.secondrow2 .fourthmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.secondrow2 .fourthmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.secondrow2 .fourthmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.secondrow2 .fourthmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.secondrow2 .fourthmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.secondrow2 .fourthmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.secondrow2 .fifthmovie .sanam .movie{
    height: 300px;
    width: 200px;
}
.secondrow2 .fifthmovie .sanam .rating{
    height: 35px;
    margin-top: 5px;
}
.secondrow2 .fifthmovie .sanam .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.secondrow2 .fifthmovie .sanam .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin: 0%;
}
.secondrow2 .fifthmovie .sanam .title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.secondrow2 .fifthmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.secondrow2 .fifthmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.secondrow2 .fifthmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.secondrow2 .fifthmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.secondrow2 .fifthmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.secondrow2 .fifthmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.secondrow2 .sixthmovie .letsmeet .movie{
    height: 300px;
    width: 200px;
}
.secondrow2 .sixthmovie .letsmeet .rating{
    height: 35px;
    margin-top: 5px;
}
.secondrow2 .sixthmovie .letsmeet .ratingscore{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0%;
    margin-left: 37px;
    margin-top: -37px;
}
.secondrow2 .sixthmovie .letsmeet .title{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin: 0%;
}
.secondrow2 .sixthmovie .letsmeet .title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.secondrow2 .sixthmovie .watchlist p{
    color: skyblue;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.secondrow2 .sixthmovie .watchlist{
    background-color: grey;
    border-radius: 20px;
    width: 180px;
    margin: 0%;
    margin-left: 7px;
    padding: 0%;
}
.secondrow2 .sixthmovie .trailer .triangle{
	border-top: 10px solid transparent;
	border-left: 15px solid white;
	border-bottom: 10px solid transparent;
}
.secondrow2 .sixthmovie .trailer .text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin: 0%;
    margin-top: 10px;
    margin-left: -10px;
}
.secondrow2 .sixthmovie .trailer{
    display: flex;
    gap: 20px;
    margin-left: 55px;
    margin-top: -20px;
}
.secondrow2 .sixthmovie{
    background-color: #232323;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}
.secondrow2{
    display: flex;
    gap: 8px;
    margin-top: 30px;
}
.browse>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
}
.browsemovies .lists li{
    color: white;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 350px;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    border: 1px solid white;
}
.browsemovies .lists{
    display: flex;
}
.browsemovies .lists .firstone{
    display: flex;
    gap: 20px;
}
.browsemovies .lists .secondone{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.browsemovies .lists li:hover{
    cursor: pointer;
    background-color: #232323;
}
.browsemovies{
    margin-top: 80px;
    margin-bottom: 80px;
}
.recentlyviewed>p{
    color: white;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-left: 30px;
}
.norecently>p{
    color: #dddddd;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    margin-top: -20px;
}
.signinformoreaccess>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-align: center;
}
.signinformoreaccess{
    background-color: yellow;
    border-radius: 30px;
    width: 300px;
    margin-left: 38%;
    margin-top: 50px;
    height: 30px;
}
.firstblock .follow p{
    color: white;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-left: 30px;
}
.firstblock .socials .fb{
    height: 30px;
    margin: 0%;
    margin-bottom: 20px;
}
.firstblock .socials .yt{
    height: 70px;
}
.firstblock .socials{
    margin: 0%;
    margin-left: 80px;
    margin-top: -30px
}
.firstblock{
    border-radius: 30px;
    height: 130px;
    width: 310px;
    border: 2px solid #dddddd;
}
.secondblock .getapp .gettheimdbapp{
    color: white;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-left: 30px;
}
.secondblock .getapp .for{
    color: #dddddd;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    margin-top: -15px;
}
.secondblock .qr img{
    height: 40px;
    margin-left: 260px;
    position: relative;
    bottom: 65px;
    right: 10px;
}
.secondblock{
    border-radius: 30px;
    height: 130px;
    width: 310px;
    border: 2px solid #dddddd;
}
.followsocials{
    display: flex;
    margin-left: 300px;
    gap: 30px;
    margin-top: 30px;
}
.footerlines .firstline p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
}
.footerlines .firstline{
    display: flex;
    margin-left: 300px;
    gap: 50px;
    margin-top: 50px;
}
.footerlines .firstline p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footerlines .secondline p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
}
.footerlines .secondline{
    display: flex;
    margin-left: 170px;
    gap: 50px;
    
}
.footerlines .secondline p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.amazon p{
    color: white;
    font-family: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.amazon span{
    font-weight: 800;
}
.inc p{
    color: gray;
    font-family: 14px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}